[Unit]
Description=My test service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 {{ git_dir }}}/{{ repo | basename }}/{{ script }}

[Install]
WantedBy=multi-user.target
